<!-- Page Content -->
<div class="content-section-a"></div>
<div class="content-section-a">
    <section class="container" ng-controller="ChartCtrl">

    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="card col-md-7 bg-white">
                    <canvas id="doughnut" class="chart chart-doughnut" chart-data="data" chart-labels="labels" 
                        chart-options="options" height="120" width="240" chart-colors="Color"></canvas>
                    <h4>Details</h4>
                    <p ng-repeat="v in pieChart.dataLabels">label: <%v.label%>, value: <%v.value%></p>
                </div>
                <div class="col-md-1"></div>
                <div class="card col-md-4 bg-white">
                    <h4>Make a book appointment</h4>
                     <form>
                         <label>Choose Date: </label>
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="fa fa-calendar"></i></button>
                            </span>
                        </p>
                        
                        <div class="form-group">
                            <label>Choose Hours</label>
                            <select class="form-control">
                                <option value="09:00 AM">09:00 AM</option>
                                <option value="10:00 AM">10:00 AM</option>
                                <option value="11:00 AM">11:00 AM</option>
                                <option value="12:00 PM">12:00 PM</option>
                                <option value="01:00 PM">01:00 PM</option>
                                <option value="02:00 PM">02:00 PM</option>
                                <option value="03:00 PM">03:00 PM</option>
                                <option value="04:00 PM">04:00 PM</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="fullName">Full Name</label>
                            <input type="text" class="form-control" id="fullName"
                            placeholder="Enter full name">
                        </div>
                        <div class="form-group">
                            <label for="fullName">Phone</label>
                            <input type="text" class="form-control" id="Phone"
                            placeholder="Enter Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"/> 
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Subject</label>
                            <textarea type="text" class="form-control" placeholder="Subject"
                            rows="3"></textarea>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-block btn-primary">Validate</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </section>
</div>