<style>
.nav-tabs li.active a.ng-binding {
	background-color: #FFF!important;
	text-decoration: none;
}

 .nav-tabs li a.ng-binding {
  color: #777777;
	background-color: rgba(21, 140, 228, 1)  !important;
	text-decoration: none;
} 
.xtraSpace {
  margin: 20px 20px;
}

</style>
<!-- Page Content -->
<section class="content" ng-controller="CheckCtrl">

  <div class="container">
    <uib-tabset active="active">
      <uib-tab index="0">
        <uib-tab-heading>
          Fördergelder
        </uib-tab-heading>
        <div class="container bg-white">
                <h5>Jetzt kostenlos und online Ihre Fördergelder berechnen.</h5>
              <div class="row" style="padding: 10px">
                <div class="col-md-3 col-sm-3 text-left">
                <select chosen="{width: '100%'}" data-placeholder-text-single="'Ihre Stadt'" ng-model="city" ng-options="v.cities for v in citiesgermany">                  
                   <option value=""></option>
                </select></div>
                <div class="col-md-3 col-sm-3 text-left">
                <select chosen="{width: '100%'}" multiple data-placeholder="Förderthemen">
                  <option>Existenzgründung</option>  
                  <option>Wachstum</option>  
                  <option>Aus- & Weiterbildung</option>
                  <option>Arbeit</option>
                  <option>Energie</option>
                  <option>Beratung</option>
                  <option>Außenwirtschaft</option>
                  <option>Forschung & Innovation</option>
                  <option>Umwelt</option>
                </select>
              </div>
                <div class="col-md-3 col-sm-3">
                  <div class="dropdown">
                    <button class="btn btn-default btn-block dropdown-toggle chosen-single" 
                    ng-click="show = !show" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Ihr Geldbedarf
                    </button> 
                  </div>
                <!-- <select chosen="{width: '100%'}">
                  <option></option>  
                  <option>ttttttt</option>  
                  <option>ttttttt</option>  
                  <option>ttttttt</option></select> -->
                </div>
                <div class="col-md-3 col-sm-3">
                <a href="checkResult" class="btn btn-block btn-primary">Berechnen</a></div>

              </div>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
              <hr class="intro-divider" ng-if="show">
              <div class="row" ng-if="show"> 
                <div class="col-md-6 text-left">
                  <div class="form-group form-inline">
                    <label class="col-form-label">Grundstücke &amp; Gebäude: </label> 
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="">
                    </div>
                  </div>
                  <div class="form-group form-inline">
                    <label class="col-form-label">Fahrzeuge &amp; Maschinen: </label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="vehicles" id="vehicles" /> 
                    </div>
                  </div>
                  <div class="form-group form-inline">
                    <label class="col-form-label">Einrichtung &amp; Ausstattung: </label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="equipment" id="equipment" /> 
                    </div>
                  </div>
                  <div class="form-group form-inline">
                    <label class="col-form-label">Firmenbeteiligung &amp; Kauf: </label> 
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="purchase" id="purchase" /> 
                    </div>
                  </div>
                  <div class="form-group form-inline">
                    <label class="col-form-label">Sonstige Investitionen: </label> 
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="otherinvestments" id="otherinvestments" /> 
                    </div>
                  </div>
                  <div class="form-group form-inline">
                    <label class="col-form-label">Liquidität &amp; Laufende Kosten: </label> 
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="liquidity" id="liquidity" /> 
                    </div>
                  </div>
                  <div class="form-group form-inline">
                    <label class="col-form-label">Umfinanzierung Dispo &amp; Kredite: </label> 
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="loans" id="loans" /> 
                    </div>
                  </div>  
                </div>
                <div class="col-md-6 text-left">

                  <div class="form-group form-inline">
                    <label class="col-form-label">Marketing &amp; Messen: </label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="marketingfairs" id="marketingfairs" /> 
                    </div>
                  </div>

                  <div class="form-group form-inline">
                    <label class="col-form-label">Beratung &amp; Schulung: </label> 
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="training" id="training" /> 
                    </div>
                  </div>

                  <div class="form-group form-inline">
                    <label class="col-form-label">Anzahl neuer Azubis &amp; Praktikanten: </label>
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="ewapprentices" id="ewapprentices" /> 
                    </div>
                  </div>
                  <div class="form-group form-inline">
                    <label class="col-form-label">Anzahl neuer Mitarbeiter: </label> 
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="nbemployees" id="nbemployees" /> 
                    </div>
                  </div>  
                  <div class="form-group form-inline">
                    <label class="col-form-label">Patentrechte: </label> 
                    <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                      <div class="input-group-addon">€</div>
                      <input type="text" class="form-control" placeholder="" ng-model="patentrechte" id="patentrechte" /> 
                    </div>
                  </div>                    
              </div>
              </div>
          </div>

      </uib-tab>
      <uib-tab index="1">
        <uib-tab-heading>
          Book
        </uib-tab-heading>
        <div class="container bg-white text-left">
          <div class="row" style="padding: 10px;">                      
            <div class="col-md-6">
              <div class="form-group">
                <label>Choose Date &amp; Hours: </label>
                <div class="form-inline">
                  <span class="input-group">
                      <input type="text" class="form-control ng-pristine ng-untouched ng-isolate-scope ng-empty ng-invalid ng-invalid-required ng-valid-date" uib-datepicker-popup="" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" required="required">
                      <div uib-datepicker-popup-wrap="" ng-model="date" ng-change="dateSelection(date)" template-url="uib/template/datepickerPopup/popup.html" class="ng-pristine ng-untouched ng-valid ng-scope ng-empty"><!-- ngIf: isOpen -->
                    </div>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="opened = !opened"><i class="fa fa-calendar"></i></button>
                    </span>
                  </span>

                  <div class="form-group">
                      <select class="form-control">
                          <option value="09:00 AM">09:00 AM</option>
                          <option value="10:00 AM">10:00 AM</option>
                          <option value="11:00 AM">11:00 AM</option>
                          <option value="12:00 PM">12:00 PM</option>
                          <option value="01:00 PM">01:00 PM</option>
                          <option value="02:00 PM">02:00 PM</option>
                          <option value="03:00 PM">03:00 PM</option>
                          <option value="04:00 PM">04:00 PM</option>
                      </select>
                  </div>
                </div>
              </div>
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input type="text" class="form-control" id="fullName" placeholder="Enter full name">
            </div>
            <div class="form-group">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" id="phone" placeholder="Enter phone number">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Subject</label>
              <textarea type="text" class="form-control" placeholder="Subject" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
          </div>
        </div>  
      </div>              
      </uib-tab>
    </uib-tabset>
  </div>
</section>