<!-- Footer -->
<footer class="bg-dark text-white">
  <div class="container">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 mx-auto text-left">
          <h4><strong>Kontakt</strong></h4>
          <ul class="list-unstyled" style="color: rgb(204, 204, 204);">
              <li><small>Saituna Consulting</small></li>
              <li><small>Ruhrallee 185</small></li>
              <li><small>45136 Essen</small></li>
              <li><small>0800 / 989 80 80</small></li>
              <li><small>0234 / 544 581 33</small></li>
              <li><small>service@saituna.com</small></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto text-left">
            <h4><strong>Services</strong></h4>
            <ul class="list-unstyled" style="color: rgb(204, 204, 204);">
                <li><small>Fördergelder</small></li>
                <li><small>Gründung</small></li>
                <li><small>Coaching</small></li>
                <li><small>Businessplan</small></li>
                <li><small>Buchhaltung</small></li>
            </ul>
          </div>
          <div class="col-md-3 mx-auto text-left">
            <h4><strong>Rechtliches</strong></h4>
              <ul class="list-unstyled" style="color: rgb(204, 204, 204);">
                  <li><small>Impressum</small></li>
                  <li><small>Nutzungsbedingungen</small></li>
                  <li><small>Haftungsausschluss</small></li>
                  <li><small>Datenschutzrichtlinie</small></li>
                  <li><small>Bildnachweis</small></li>
              </ul>
            </div>
            <div class="col-md-3 mx-auto text-left">
              <h4><strong>Wir im Netz</strong></h4>
                <ul class="list-unstyled" style="color: rgb(204, 204, 204);">
                    <li><i class="fa fa-facebook"></i></li>
                    <li><i class="fa fa-google-plus"></i></li>
                    <li>Xing</i></li>
                </ul>
              </div>
      </div>
    </div>

    <p class="copyright text-muted small">Copyright &copy; Saituna Consulting 2017. All Rights Reserved</p>
  </div>
</footer>
