<!-- Footer -->
<footer class="text-white" style="background-color: #00305C">
  <div class="container">

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3 mx-auto text-left">
          <h5><strong>Kontakt</strong></h5>
            <br />
          <ul class="list-unstyled" style="color: rgb(204, 204, 204);">
              <li><small>Saituna Consulting</small></li>
              <li><small>Ruhrallee 185, 45136 Essen</small></li>
              <li><small>Telefon: 0800 / 989 80 80</small></li>
              <li><small>Fax: 0234 / 544 581 33</small></li>
              <li><small>Email: service@saituna.com</small></li>
          </ul>
        </div>
        <div class="col-md-3 mx-auto text-left">
            <h5><strong>Services</strong></h5>
            <br />
            <ul class="list-unstyled" style="color: rgb(204, 204, 204);">
                <li><small>Fördergelder</small></li>
                <li><small>Gründung</small></li>
                <li><small>Coaching</small></li>
                <li><small>Businessplan</small></li>
                <li><small>Buchhaltung</small></li>
            </ul>
          </div>
          <div class="col-md-3 mx-auto text-left">
            <h5><strong>Rechtliches</strong></h5>
            <br />
              <ul class="list-unstyled" style="color: rgb(204, 204, 204);">
                  <li><small>Impressum</small></li>
                  <li><small>Nutzungsbedingungen</small></li>
                  <li><small>Haftungsausschluss</small></li>
                  <li><small>Datenschutzrichtlinie</small></li>
                  <li><small>Bildnachweis</small></li>
              </ul>
            </div>
            <div class="col-md-3 mx-auto text-left">
              <div class="row">
                <div class="col-md-2">
                  <a href="javascript:;" class="text-white fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                  </a>                    
                </div>
                <div class="col-md-2">
                  <a href="javascript:;" class="text-white fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x"></i>
                  </a>                    
                </div>
                <div class="col-md-2">
                  <a href="javascript:;" class="text-white fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x"></i>
                  </a>                    
                </div>
              </div>
            </div>
      </div>
    </div>

    <p class="copyright text-muted small">
      Durch verbleib auf dieser Seite erklären Se sich mit den Nutzungsbedingungen und dem Haftungsausschluss einverstanden. Es gelten Förderrichtlinen.
      &copy; 2017 Saituna Consulting, alle Rechte Vorbehalten,  Änderungen und Irrtümer Vorbehalten, alle Angaben ohne Gewähr.
    </p>
  </div>
</footer>
