
<style>
.navbar {
      border-bottom: 1px solid #007bff;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}
</style>
<!-- Navigation -->
<nav id="top" class="navbar fixed-top -fixed-top navbar-toggleable-sm navbar-inverse bg-inverse navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/" style="margin-top: -15px; margin-bottom: -15px;"><img src="img/Saituna_Logo_Landscape.png" width="134px"/></a>
  <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </div>
    <div class="navbar-collapse collapse">

    </div>
    <span class="nav-link col-md-2 text-center" style="margin-top: -15px; margin-bottom: -15px;">
      <small><table align="center"><tbody><tr><td rowspan="2">
        <span class="fa-stack fa-lg text-primary">
          <i class="fa fa-circle fa-stack-1x fa-2x"></i>
          <i class="fa fa-phone fa-stack-1x fa-1x text-white"></i>
        </span>
      </td><td class="text-left"><%'index.FREE_CALL' | translate%></td></tr><tr><td class="text-left">0800 / 989 8080</td></tr></tbody></table>
      </small></span>
    <div class="navbar-collapse collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown" ng-init="service.isopen = false" ng-mouseover="service.isopen = true" ng-mouseout="service.isopen = false">
          <a class="nav-link" href="javascript:;" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Beratungsthemen
            <span class="fa " ng-class="{'fa-angle-down': !service.isopen, 'fa-angle-up': service.isopen}"></span>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/funding"><%'index.NAME_SERVICE1' | translate%></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/business_start"><%'index.NAME_SERVICE2' | translate%></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/coaching"><%'index.NAME_SERVICE3' | translate%></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/business_plan"><%'index.NAME_SERVICE4' | translate%></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/accounting"><%'index.NAME_SERVICE5' | translate%></a>
          </div>
        </li>
        <li class="nav-item dropdown" ng-init="flag.isopen = false" ng-mouseover="flag.isopen = true" ng-mouseout="flag.isopen = false">
          <a class="nav-link" href id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="max-width: fit-content">
            <img ng-src="img/flags/<%currentLanguage == 'en' ? 'United-Kingdom' : currentLanguage == 'de' ? 'Germany' : 'Saudi-Arabia'%>.png" class="img-thumbnail icon-small" alt="" width="30px" height="50%"/>          
            <span class="fa " ng-class="{'fa-angle-down': !flag.isopen, 'fa-angle-up': flag.isopen}"></span>
          </a>
          <div class="dropdown-menu" style="min-width: unset" aria-labelledby="navbarDropdownMenuLink" style="max-width: fit-content">
            <a class="dropdown-item" ng-class="{'active': currentLanguage == 'de'}" href ng-click="changeLanguage('de')" style="max-width: fit-content"><img src="img/flags/Germany.png" alt="" width="20px" height="50%"/></a>
            <a class="dropdown-item" ng-class="{'active': currentLanguage == 'en'}" href ng-click="changeLanguage('en')" style="max-width: fit-content"><img src="img/flags/United-Kingdom.png" alt="" width="20px" height="50%"/></a>
            <a class="dropdown-item" ng-class="{'active': currentLanguage == 'ar'}" href ng-click="changeLanguage('ar')" style="max-width: fit-content"><img src="img/flags/Saudi-Arabia.png" alt="" width="20px" height="50%"/></a>
          </div>
        </li>
      </ul>
    </div>
</nav>
