<style>
.serviceAppointment .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #2e6da4;
}
</style>
<section class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Gründungsthemen</h2>
        <hr class="section-heading-spacer"/>
      </div>
      <div class="col-md-12">
        <div class="col-md-8">
            <p>Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager. Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager</p>
            <p>Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager</p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>

  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Ihr Gründungsweg</h2>
          <hr class="section-heading-spacer"/>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card" style="height: 280px;width: 100%;display: block;border: none;">
            <br />
            <h2 class="text-white text-center"><span class="rounded-circle" style="background-color: #26526F; display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 15px;text-align: center;width: 1.6em;">1</span></h2>
            <h3 class="text-muted text-center">Handsome young business entrepreneur </h3>
            <p>Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card" style="height: 280px;width: 100%;display: block;border: none;">
            <br />
            <h2 class="text-white text-center"><span class="rounded-circle" style="background-color: #26526F; display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 15px;text-align: center;width: 1.6em;">2</span></h2>
            <h3 class="text-muted text-center">Handsome young business entrepreneur </h3>
            <p>Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager</p>

          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card" style="height: 280px;width: 100%;display: block;border: none;">
            <br />
            <h2 class="text-white text-center"><span class="rounded-circle" style="background-color: #26526F; display: inline-block;font-weight: bold;line-height: 1.6em;margin-right: 15px;text-align: center;width: 1.6em;">3</span></h2>
            <h3 class="text-muted text-center">Handsome young business entrepreneur </h3>
            <p>Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager</p>

          </div>
        </div>
      </div>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Ihre Vorteile</h2>
        <hr class="section-heading-spacer"/>
      </div>
      <div class="col-md-12">
        <div class="col-md-8">
            <p>Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager. Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager</p>
            <p>Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager</p>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </div>
  </div>

  <div class="container">

      <div class="row text-center">
        <div class="col-lg-12 mx-auto">
          <h2>{{'index.OUR_SERVICES' | translate}}</h2>
          <hr class="section-heading-spacer-center">
        <div class="row">
          <div class="col-md-1">
          </div>
          <div class="col-md-2 col-sm-4 col-6" style="cursor:pointer" ng-click="go('/funding')">
            <div class="service-item bg-white">
              <span class="fa-stack fa-4x">
                  <img src="resources/img/money_bag.png" width="80%"/>
              </span>
              <h5 style="padding-bottom: 10px;">
                <strong>{{'index.NAME_SERVICE1' | translate}}</strong>
              </h5>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6" style="cursor:pointer" ng-click="go('/services/s=2#top')">
            <div class="service-item bg-white">
              <span class="fa-stack fa-4x">
                  <img src="resources/img/businessstart.png" width="90%"/>
              </span>
              <h5 style="padding-bottom: 10px;">
                  <strong>{{'index.NAME_SERVICE2' | translate}}</strong>
              </h5>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6" style="cursor:pointer" ng-click="go('/services/s=3#top')">
            <div class="service-item bg-white">
              <span class="fa-stack fa-4x">
                  <img src="resources/img/coching.png" width="80%"/>
              </span>
              <h5 style="padding-bottom: 10px;">
                  <strong>{{'index.NAME_SERVICE3' | translate}}</strong>
              </h5>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6" style="cursor:pointer" ng-click="go('/services/s=4#top')">
            <div class="service-item bg-white">
              <span class="fa-stack fa-4x">
                  <img src="resources/img/businessplan.png" width="90%"/>
              </span>
              <h5 style="padding-bottom: 10px;">
                  <strong>{{'index.NAME_SERVICE4' | translate}}</strong>
              </h5>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6" style="cursor:pointer" ng-click="go('/services/s=5#top')">
            <div class="service-item bg-white">
              <span class="fa-stack fa-4x">
                  <img src="resources/img/accounting.png" width="90%"/>
              </span>
              <h5 style="padding-bottom: 10px;">
                  <strong >{{'index.NAME_SERVICE5' | translate}}</strong>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->
</section>
<section class="content-section-a text-white" style="background-color: #26526F" ng-controller="BookAppointmentCtrl"> <!-- bg-primary text-white -->
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 mx-auto text-center">
                <h2>Buchen Sie jetzt Ihre kostenlose Beratung</h2>
                <hr class="section-heading-spacer-center"/>
            </div>
            <div class="col-md-12">
              <p>Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager</p>
              <p>Handsome young business entrepreneur holding a digital tablet while talking about ideas with his mature corporate manager</p>
            </div>
            <div class="col-md-12 mx-auto text-center">
              <form class="form-inline">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                </div>
                <div class="col-md-4">
                  <button type="submit" class="btn btn-block btn-primary" style="background-color: !important" ng-click="open('lg')">Appointment</button>
                </div>
                <div class="col-md-2"></div>
              </form>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<script type="text/ng-template" id="myModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title" id="modal-title">Make a book appointment</h3>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="col-md-12">
      <div class="col-md-6">
        <h4>Choose Date: </h4>
        <div style="display:inline-block; min-height:290px;">
          <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
        </div>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group">
            <label for="fullName">Choose Hours</label>
            <div uib-timepicker ng-model="mytime" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
          </div>
          <div class="form-group">
            <label for="fullName">Full Name</label>
            <input type="text" class="form-control" id="fullName" placeholder="Enter full name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Subject</label>
            <textarea type="text" class="form-control" placeholder="Subject" rows="3">
            </textarea>
          </div>
        </form>
      </div>
    </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>
